.header {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0 0 0 / 68%)), /* Gradiente negro */ url(../img/R.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.298);
}

body{
  background: rgba(250, 235, 215, 0.753);
}

.navbar-custom a {
  color: white;
}

.image-wrapper {
  position: relative; /* Crea un contenedor para ambas imágenes */
  width: 100%;
  height: 200px; /* Ajusta el alto como lo necesites */
}

.card-image-overlay {
  transition: all 300ms ease;
}

.custom-card:hover {
  cursor: pointer;
}

.custom-card:hover .card-image-overlay {
  opacity: 0;
}

.custom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  /* box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.298);
  background-color: white; */
}

.custom-card img {
  position: absolute;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* comentarios */

.card-comentary {
  padding: 10px;
  border-radius: 20px;
 
  
  max-height: 250px;
  transition: all 300ms ease;

  /* box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.298);
  background-color:#ffffffc9; */
}

.card-body-comentary {
  max-width: 250px;
  width: 19rem;
}

.card-comentary:hover {
  scale: 1.2;
}

.img-profile {
  border-radius: 100%;
  max-width: 100px;
}

.text-profile {
  color: #2c3220;
}

.beneficios-container {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.781)),
    url(../img/adulto-joven-bicicleta-electrica-campo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.beneficios-info-container {
  max-width: 550px;
}



.form-info{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.336)),
  url(../img/form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 30px 0px 0 30px; */
}


.form-container{
  /* border-radius: 30px; */
  box-shadow: 1px 6px 14px 0px #00000063;
  background-color: #ffffff;;
}

.form-main-container{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.336)),
  url(../img/form.jpg);
  background-color: #25271f;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-beige{
  color: rgb(250, 235, 215);
}